robot.jar
**/tmp/*
poetry.lock
.vscode
build/*
hermit.jar
__pycache__
*.abs
*.aux
*.bbl
*.blg
*.log
*.out
*paper.pdf
*.xmpdata
*.xmpi
*/sources
*/local
*.fdb_latexmk
*.fls
svg-inkscape
*.synctex.gz

# Remove later when images are ready
paper/images